.custom_slider {
    .outer_container {
        overflow: hidden;
        margin: 0 auto;
        .no_transition {
            transition: none !important;
          }
        .inner_container {
            width: 8000px;
            display: flex;
        }
        
    }
    .one_slide {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
        }
    }
    .navs {
        display: flex;
        justify-content: center;
        & > a {
           text-decoration: none; 
        }
        .prev_slide {
            margin-right: 20px;
        }
    }
    .dots-item {
        display: flex;
        justify-content: center;
        .dots  {
            width: 10px;
            height: 10px;
            border: 2px solid #e7e7e7;
            &:not(:last-child){
                margin-right: 10px;
            }
            border-radius: 100%;
            background-color: #e7e7e7;
        }
        .active {
            width: 10px;
            height: 10px;
            border: 3px solid #e7e7e7;
            background-color: #493d3d;
        }
    }
}
